* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display:flex;
    justify-content: space-around;
    padding-top: 35px;
}

label, input {
    display: block;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color:#8bd6c7;
}
